* {
  font-family: 'Montserrat', sans-serif;
}

.contain {
  width: 77%;
  margin: auto;
}

.head-slider {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.head-slider .slides {
  position: relative;
  top: 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.head-slider .slides .slide {
  height: 500px;
  padding-top: 10%;
  color: white;
}

.head-slider .slides .slide h6 {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: 0.8s 0.6s ease-in-out;
  transition: 0.8s 0.6s ease-in-out;
  font-size: 16px;
  text-transform: uppercase;
}

.head-slider .slides .slide h2 {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 0.8s 0.6s ease-in-out;
  transition: 0.8s 0.6s ease-in-out;
  font-size: 64px;
  margin-bottom: 50px;
  font-weight: 400;
}

.head-slider .slides .slide h2 span {
  font-weight: 700;
}

.head-slider .slides .slide .a-box {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: 0.8s 0.6s ease-in-out;
  transition: 0.8s 0.6s ease-in-out;
}

.head-slider .slides .slide .a-box a {
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 18px 30px;
  font-weight: 500;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.head-slider .slides .slide .a-box a span {
  position: relative;
}

.head-slider .slides .slide .a-box a::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 103%;
  left: 10%;
  top: -1px;
  background-color: #50ba87;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.head-slider .slides .slide .a-box a:hover {
  border: 2px solid #50ba87;
  background-color: transparent;
}

.head-slider .slides .slide .a-box a:hover::before {
  left: -1px;
  width: 101%;
  opacity: 1;
}

.head-slider .slides .slide.active h6 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.head-slider .slides .slide.active h2 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.head-slider .slides .slide.active .a-box {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.head-slider .slides .slide.slide1 {
  background-image: url("../images/slider-4-slide-1-1920x678.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.head-slider .slides .slide.slide2 {
  background-image: url("../images/slider-4-slide-2-1920x678.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.head-slider .slides .slide.slide3 {
  background-image: url("../images/slider-4-slide-3-1920x678.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.head-slider .slide-btns {
  position: absolute;
  right: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.head-slider .slide-btns button {
  border: none;
  width: 12px;
  height: 12px;
  background-color: transparent;
  margin: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  outline: none;
  position: relative;
}

.head-slider .slide-btns button.active {
  background-color: transparent;
}

.head-slider .slide-btns button.active::before {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  opacity: 0;
}

.head-slider .slide-btns button.active::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.head-slider .slide-btns button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.head-slider .slide-btns button:hover.active {
  background-color: #01b3a7;
}

.head-slider .slide-btns button::before, .head-slider .slide-btns button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.head-slider .slide-btns button::before {
  background-color: rgba(155, 155, 155, 0.8);
  opacity: 1;
}

.head-slider .slide-btns button::after {
  background-color: #01b3a7;
  opacity: 0;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.tours {
  margin-top: -40px;
  padding-bottom: 90px;
  text-align: center;
  background-color: #f7f7f7;
}

.tours .tour-row {
  z-index: 5;
  position: relative;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 0;
}

.tours .tour-row .tour {
  padding: 0 15px;
}

.tours .tour-row .tour a {
  text-decoration: none;
  color: white;
}

.tours .tour-row .tour a .img {
  position: relative;
  overflow: hidden;
}

.tours .tour-row .tour a .img img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.tours .tour-row .tour a .img h1 {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 24px;
  font-weight: 700;
}

.tours .tour-row .tour a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.tours .tour-row.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.tours .other-box {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.tours .other-box.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.tours .other-box .other {
  text-decoration: none;
  color: black;
  margin-top: 30px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tours .other-box .other .other-text {
  margin-right: 15px;
}

.tours .other-box .other .arrow {
  position: relative;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.tours .other-box .other .arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 2px;
  background-color: black;
  width: 100%;
}

.tours .other-box .other .arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 100%;
  border-width: 3px 0 3px 6px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.tours .other-box .other:hover .arrow {
  width: 45px;
}

.discover {
  padding: 100px 0;
}

.discover .left {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.discover .left img {
  width: 100%;
}

.discover .left.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.discover .right {
  padding-left: 75px;
  opacity: 0;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.discover .right.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.discover .right h1 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 30px;
}

.discover .right .tab {
  width: 93%;
}

.discover .right .tab .headings {
  border-bottom: 3px solid #e1e1e1;
  margin-bottom: 25px;
}

.discover .right .tab .headings button {
  outline: none;
  border: none;
  color: #9b9b9b;
  padding: 10px 0;
  display: inline-block;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  position: relative;
  background-color: white;
}

.discover .right .tab .headings button::before {
  content: "";
  position: absolute;
  top: 99%;
  width: 0%;
  height: 3.5px;
  background-color: #01b3a7;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.discover .right .tab .headings button:hover {
  color: #01b3a7;
}

.discover .right .tab .headings button.active {
  color: #01b3a7;
}

.discover .right .tab .headings button.active::before {
  width: 100%;
}

.discover .right .tab .tab-content .bottom {
  display: none;
}

.discover .right .tab .tab-content .bottom.active {
  display: block;
}

.discover .right .tab .tab-content .bottom p {
  font-size: 14px;
}

.discover .right .tab .tab-content .bottom .links {
  margin-top: 40px;
}

.discover .right .tab .tab-content .bottom .links .get,
.discover .right .tab .tab-content .bottom .links .read {
  text-decoration: none;
  padding: 15px;
  text-align: center;
  display: inline-block;
  min-width: 180px;
  -webkit-transition: 0.250s ease-in-out;
  transition: 0.250s ease-in-out;
  font-weight: 500;
}

.discover .right .tab .tab-content .bottom .links .get {
  color: white;
  background-color: transparent;
  border: 2px solid transparent;
  margin-right: 20px;
  position: relative;
}

.discover .right .tab .tab-content .bottom .links .get::before, .discover .right .tab .tab-content .bottom .links .get::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  -webkit-transition: 0.250s ease-in-out;
  transition: 0.250s ease-in-out;
  z-index: -1;
}

.discover .right .tab .tab-content .bottom .links .get::before {
  background-color: #01b3a7;
  border: 2px solid #01b3a7;
}

.discover .right .tab .tab-content .bottom .links .get::after {
  background-color: white;
  border: 2px solid white;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.discover .right .tab .tab-content .bottom .links .get:hover {
  color: black;
}

.discover .right .tab .tab-content .bottom .links .get:hover::before {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.discover .right .tab .tab-content .bottom .links .get:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
  border: 2px solid #151515;
  -webkit-transition: 0.2s 0.1s ease-in-out;
  transition: 0.2s 0.1s ease-in-out;
}

.discover .right .tab .tab-content .bottom .links .read {
  color: black;
  background-color: white;
  border: 2px solid black;
}

.discover .right .tab .tab-content .bottom .links .read:hover {
  background-color: #01b3a7;
  border: 2px solid #01b3a7;
}

.services {
  padding-bottom: 80px;
}

.services h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 600;
}

.services .categ {
  padding: 45px 25px;
  border: 8px solid #f4f4f4;
  margin-bottom: 20px;
  -webkit-transition: border 0.3s 0s ease-in-out, -webkit-box-shadow 0.3s 0.1s ease-in-out;
  transition: border 0.3s 0s ease-in-out, -webkit-box-shadow 0.3s 0.1s ease-in-out;
  transition: border 0.3s 0s ease-in-out, box-shadow 0.3s 0.1s ease-in-out;
  transition: border 0.3s 0s ease-in-out, box-shadow 0.3s 0.1s ease-in-out, -webkit-box-shadow 0.3s 0.1s ease-in-out;
}

.services .categ .left {
  margin-right: 20px;
}

.services .categ .left i {
  color: #01b3a7;
  font-size: 34px;
}

.services .categ .right h5 {
  margin-bottom: 15px;
}

.services .categ .right h5 a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.services .categ .right h5 a:hover {
  color: #01b3a7;
}

.services .categ .right p {
  font-size: 14px;
  color: #9b9b9b;
}

.services .categ:hover {
  border: 8px solid white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
}

.hot-tours h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 600;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.hot-tours h3.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.hot-tours .tour {
  border: 1px solid #e1e1e1;
  margin-bottom: 50px;
  position: relative;
}

.hot-tours .tour.tour1 {
  opacity: 0;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.hot-tours .tour.tour1.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.hot-tours .tour.tour2 {
  opacity: 0;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.hot-tours .tour.tour2.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.hot-tours .tour .left .img-box {
  width: 100%;
  overflow: hidden;
}

.hot-tours .tour .left .img-box img {
  width: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hot-tours .tour .right {
  padding-left: 60px;
  padding-right: 100px;
}

.hot-tours .tour .right a {
  text-decoration: none;
}

.hot-tours .tour .right a.title {
  color: black;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 20px;
  font-weight: 500;
}

.hot-tours .tour .right a.title:hover {
  color: #01b3a7;
}

.hot-tours .tour .right .review {
  margin: 15px 0;
}

.hot-tours .tour .right .review i {
  color: #ffcc00;
}

.hot-tours .tour .right .review a {
  margin-left: 15px;
  font-size: 12px;
  font-weight: 500;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #9b9b9b;
  letter-spacing: 0.1em;
}

.hot-tours .tour .right .review a:hover {
  color: #01b3a7;
}

.hot-tours .tour .right p {
  font-size: 14px;
  color: #9b9b9b;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.hot-tours .tour .right .buy {
  color: black;
  border: 2px solid black;
  background-color: white;
  padding: 15px;
  min-width: 180px;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.hot-tours .tour .right .buy span {
  position: relative;
}

.hot-tours .tour .right .buy::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 103%;
  left: 10%;
  top: -1px;
  background-color: #01b3a7;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hot-tours .tour .right .buy:hover {
  border: 2px solid #01b3a7;
  background-color: transparent;
}

.hot-tours .tour .right .buy:hover::before {
  left: -1px;
  width: 102%;
  opacity: 1;
}

.hot-tours .tour:hover .left img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hot-tours .tour .price {
  position: absolute;
  right: -1px;
  top: -1px;
  width: 90px;
  height: 70px;
  background-color: #01b3a7;
  text-align: center;
  padding: 20px;
  font-weight: 500;
  font-size: 21px;
  color: white;
  letter-spacing: 0.025em;
}

.hot-tours .tour .price span {
  position: absolute;
  bottom: -17px;
  left: -17px;
  width: 34px;
  height: 34px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.people {
  padding-bottom: 100px;
  padding-top: 50px;
}

.people h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 600;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.people h3.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.people .person {
  text-align: center;
  margin-top: 100px;
}

.people .person .text-box {
  background-color: #f7f7f7;
  padding: 50px;
  padding-top: 70px;
  position: relative;
}

.people .person .text-box h6 a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  font-size: 18px;
}

.people .person .text-box h6 a:hover {
  color: #01b3a7;
}

.people .person .text-box p {
  font-size: 14px;
  font-weight: 500;
  color: #01b3a7;
  margin-bottom: 10px;
}

.people .person .text-box .tel {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 18px;
  font-weight: 500;
}

.people .person .text-box .tel:hover {
  color: #01b3a7;
}

.people .person .text-box .img-box {
  position: absolute;
  bottom: 75%;
  width: 138px;
  height: 138px;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
}

.people .person .text-box .img-box a img {
  border-radius: 50%;
  border: 4px solid transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 5;
}

.people .person:hover .img-box a img {
  -webkit-transform: translateY(-14px);
          transform: translateY(-14px);
  border: 4px solid #01b3a7;
}

.book {
  padding: 100px 0;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/parallax-1-1920x850.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/parallax-1-1920x850.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.book h1 {
  font-size: 48px;
  font-weight: 600;
  margin: auto;
  width: 40%;
  margin-bottom: 25px;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.book h1.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.book h1 span {
  font-weight: 300;
}

.book p {
  font-size: 14px;
  max-width: 600px;
  letter-spacing: 0.075em;
  margin: auto;
  line-height: 1.7;
  margin-bottom: 30px;
  opacity: 0;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.book p.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.book .book-link {
  text-decoration: none;
  padding: 12px;
  text-align: center;
  display: inline-block;
  min-width: 210px;
  font-weight: 500;
  color: white;
  background-color: transparent;
  border: 2px solid transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: relative;
}

.book .book-link span {
  position: relative;
  color: white;
}

.book .book-link::before, .book .book-link::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  -webkit-transition: 0.250s ease-in-out;
  transition: 0.250s ease-in-out;
}

.book .book-link::before {
  background-color: #01b3a7;
  border: 2px solid #01b3a7;
}

.book .book-link::after {
  background-color: transparent;
  border: 2px solid white;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.book .book-link:hover {
  color: white;
  background-color: transparent;
}

.book .book-link:hover::before {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.book .book-link:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
  border: 2px solid white;
  -webkit-transition: 0.2s 0.1s ease-in-out;
  transition: 0.2s 0.1s ease-in-out;
}

.says {
  padding: 80px 0;
  background-color: #f7f7f7;
  text-align: center;
}

.says h3 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: 600;
  opacity: 0;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.says h3.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.says .say {
  position: relative;
  background-color: white;
  padding: 70px 20px 40px;
  -webkit-filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.15));
  opacity: 0;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.says .say.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.says .say .img-box {
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 15px solid white;
  border-radius: 50%;
  display: inline-block;
}

.says .say .img-box img {
  border-radius: 50%;
}

.says .say p {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.025em;
}

.says .say .name {
  text-decoration: none;
  color: #01b3a7;
  font-size: 21px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.says .say .name:hover {
  color: #50ba87;
}

.stats {
  padding: 100px 0;
}

.stats h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 600;
}

.stats .stat {
  background-image: url("../images/thumnails-info-1-370x303.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 15px;
  height: 300px;
}

.stats .stat .text {
  height: 100%;
  background-color: white;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #151515;
}

.stats .stat .text h5 {
  width: 50%;
  font-size: 24px;
  font-weight: 600;
}

.stats .stat .text h4,
.stats .stat .text span {
  font-size: 80px;
  font-weight: 700;
}

.subscribe {
  padding: 100px 0;
  color: white;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../images/parallax-2-1920x850.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/parallax-2-1920x850.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

.subscribe h2 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 600;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.subscribe h2.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.subscribe p {
  font-size: 14px;
  letter-spacing: 0.075em;
  line-height: 1.7;
  max-width: 600px;
  margin: auto;
  margin-bottom: 30px;
  letter-spacing: 0.075em;
  opacity: 0;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.subscribe p.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.subscribe form .input {
  width: 330px;
  margin-right: 6px;
  position: relative;
  height: 60px;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.subscribe form .input.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.subscribe form .input input {
  padding: 22px;
  border: none;
  outline: none;
  background-color: #ffffff57;
  color: white;
  width: 100%;
  font-size: 14px;
  height: 100%;
}

.subscribe form .input input::-webkit-input-placeholder {
  color: white;
}

.subscribe form .input input:-ms-input-placeholder {
  color: white;
}

.subscribe form .input input::-ms-input-placeholder {
  color: white;
}

.subscribe form .input input::placeholder {
  color: white;
}

.subscribe form .input span {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 9px;
  opacity: 0;
}

.subscribe form .input span.active {
  opacity: 1;
}

.subscribe form .button {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.subscribe form .button.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.subscribe form .button button {
  height: 60px;
  border: none;
  text-align: center;
  width: 150px;
  background-color: #01b3a7;
  color: white;
  font-weight: 500;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.subscribe form .button button:hover {
  background-color: black;
}

.post {
  padding-top: 60px;
  padding-bottom: 110px;
}

.post h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 600;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.post h3.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.post .blog .blog-post {
  padding-bottom: 35px;
}

.post .blog .blog-post .blog-link {
  display: inline-block;
  overflow: hidden;
}

.post .blog .blog-post .blog-link img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.post .blog .blog-post .blog-text {
  position: absolute;
  bottom: 5px;
  left: 30px;
  right: 30px;
  padding: 35px 40px;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.27);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.27);
}

.post .blog .blog-post .blog-text h4 {
  margin-bottom: 25px;
}

.post .blog .blog-post .blog-text h4 a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.post .blog .blog-post .blog-text h4 a:hover {
  color: #01b3a7;
}

.post .blog .blog-post .blog-text p {
  color: #01b3a7;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.post .blog .blog-post .blog-text .icons {
  overflow: hidden;
  height: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.post .blog .blog-post .blog-text .icons a {
  background-color: black;
  width: 32px;
  height: 32px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 4px;
  position: relative;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.post .blog .blog-post .blog-text .icons a:nth-child(2) {
  -webkit-transition: 0.3s 0.1s ease-in-out;
  transition: 0.3s 0.1s ease-in-out;
}

.post .blog .blog-post .blog-text .icons a:nth-child(3) {
  -webkit-transition: 0.3s 0.2s ease-in-out;
  transition: 0.3s 0.2s ease-in-out;
}

.post .blog .blog-post .blog-text .icons a:nth-child(4) {
  -webkit-transition: 0.3s 0.3s ease-in-out;
  transition: 0.3s 0.3s ease-in-out;
}

.post .blog .blog-post .blog-text .icons a i {
  text-align: center;
  font-size: 14px;
  padding: 9px 0;
  border-radius: 50%;
  color: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: relative;
}

.post .blog .blog-post .blog-text .icons a::before {
  position: absolute;
  content: "";
  top: 0%;
  background-color: #01b3a7;
  width: 0%;
  height: 0%;
  left: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.post .blog .blog-post .blog-text .icons a:hover::before {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.post .blog .blog-post .blog-text .icons a.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.post .blog .blog-post:hover a img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.post .blog .blog-post:hover .icons {
  height: 40px;
}

.post .blog .blog-post:hover .icons a {
  -webkit-transform: none;
          transform: none;
}

.post .blog .owl-dots {
  margin-top: 25px !important;
}

.post .blog .owl-dots .owl-dot span {
  border: none;
  width: 12px;
  height: 12px;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 0;
  margin: 5px !important;
  position: relative;
  transition: 0.3s ease-in-out;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.post .blog .owl-dots .owl-dot span:hover::before, .post .blog .owl-dots .owl-dot span:hover::after {
  background-color: #50ba87;
}

.post .blog .owl-dots .owl-dot span::before, .post .blog .owl-dots .owl-dot span::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.post .blog .owl-dots .owl-dot span::before {
  background-color: #d7d7d7;
  opacity: 1;
  visibility: visible;
}

.post .blog .owl-dots .owl-dot span::after {
  background-color: #01b3a7;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.post .blog .owl-dots .owl-dot.active span {
  background-color: transparent;
}

.post .blog .owl-dots .owl-dot.active span::before {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.post .blog .owl-dots .owl-dot.active span::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.post .blog .owl-dots .owl-dot.active span:hover::before, .post .blog .owl-dots .owl-dot.active span:hover::after {
  background-color: #01b3a7;
}

.gallery {
  background-color: #f7f7f7;
  position: relative;
  padding: 70px 30px;
}

.gallery h5 {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  width: 210px;
  background-color: white;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.gallery .gallery-carousel .img {
  position: relative;
}

.gallery .gallery-carousel .img .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.gallery .gallery-carousel .img .cover .frame {
  border: 1px solid rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.gallery .gallery-carousel .img .cover i {
  position: absolute;
  font-size: 36px;
  top: 50%;
  left: 50%;
  color: white;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.gallery .gallery-carousel .img .cover i:hover {
  color: rgba(255, 255, 255, 0.514);
}

.gallery .gallery-carousel .img:hover .cover {
  opacity: 1;
}

.gallery .gallery-carousel .img:hover .cover .frame {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.gallery .gallery-carousel .img:hover .cover i {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gallery .gallery-carousel .owl-dots {
  margin-top: 25px !important;
}

.gallery .gallery-carousel .owl-dots .owl-dot span {
  border: none;
  width: 12px;
  height: 12px;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 0;
  margin: 5px !important;
  position: relative;
}

.gallery .gallery-carousel .owl-dots .owl-dot span:hover::before, .gallery .gallery-carousel .owl-dots .owl-dot span:hover::after {
  background-color: black;
}

.gallery .gallery-carousel .owl-dots .owl-dot span::before, .gallery .gallery-carousel .owl-dots .owl-dot span::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.gallery .gallery-carousel .owl-dots .owl-dot span::before {
  background-color: #d7d7d7;
  opacity: 1;
}

.gallery .gallery-carousel .owl-dots .owl-dot span::after {
  background-color: #01b3a7;
  opacity: 0;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.gallery .gallery-carousel .owl-dots .owl-dot.active span {
  background-color: transparent;
}

.gallery .gallery-carousel .owl-dots .owl-dot.active span::before {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.gallery .gallery-carousel .owl-dots .owl-dot.active span::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.gallery .gallery-carousel .owl-dots .owl-dot.active span:hover::before, .gallery .gallery-carousel .owl-dots .owl-dot.active span:hover::after {
  background-color: #01b3a7;
}
/*# sourceMappingURL=style.css.map */